@page
@using HelpLocally.Domain
@model IndexModel

@await Html.PartialAsync("_NavigationPartial", "users")

<div class="row">
	<h5 class="col-11">Users</h5>
	@if (User.IsInRole(RolesDefaults.Admin))
	{
		<a class="btn btn-success" href="~/Users/Create">Create</a>
	}
</div>
<br/>
<form method="post">
	<table class="table table-list">
		<thead>
		<tr>
			<th>Id</th>
			<th>Login</th>
			<th>Role</th>
			<th>Action</th>
		</tr>
		</thead>
		<tbody>
		@foreach (var user in Model.Users)
		{
			<tr>
				<td>@user.Id</td>
				<td>@user.Login</td>
				<td>@user.Role</td>
				<td class="btn-group">
					<div class="btn-group" role="group">
						<button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						</button>
						<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
							<a class="dropdown-item" asp-page="./Details" asp-route-id="@user.Id">Details</a>
							@if (User.IsInRole(RolesDefaults.Admin))
							{
								<a class="dropdown-item" asp-page="./Edit" asp-route-id="@user.Id">Edit</a>
								<button class="dropdown-item"
								        type="submit"
								        asp-page-handler="resetPassword"
								        asp-route-id="@user.Id">
									Reset password
								</button>
								<button class="dropdown-item text-danger"
								        type="submit"
								        asp-page-handler="delete"
								        asp-route-id="@user.Id">
									Delete
								</button>
							}
						</div>
					</div>
				</td>
			</tr>
		}
		</tbody>
	</table>
</form>